<section class="container-newProduct">
  <h3>Adicionar novo produto</h3>

  <div class="group-newProduct">
    <form class="newProduct-form">
      <input class="form-image" type="text" placeholder="URL da imagem">

      <input class="form-category" type="text" placeholder="Catergoria">

      <input class="form-name" type="text" placeholder="Nome do produto">

      <input class="form-price" type="text" placeholder="Preço do produto">

      <input class="form-description" type="text" placeholder="Descrição do produto">

    </form>

  </div>

  <button class="button-newProduct">Adicionar produto</button>
  
</section>