<header class="container-navbar">
  <nav class="container-nav">

    <div class="logo">
      <img src="../../../assets/img/Logo (2).svg" alt="">

      <div class="search-screen">
        <input class="input-navbar" type="text" placeholder="O que deseja encontrar?">
        <img src="../../../assets/img/Vector (4).svg" alt="">
      </div>
    </div>

    <div>
      <button class="login">Login</button>
    </div>

    <div class="search">
      <img  src="../../../assets/img/Vector (3).svg" alt="">
    </div>

  </nav>
</header>