<app-navbar></app-navbar>

<section>
  <div class="container-details">
    <img src="../../../assets/img/pikachu.png" alt=""> 
    <div class="container-content">
      <h2>Fantasia Picachu</h2>
      <p class="details-price">R$ 60,00 </p>
      <p class="details">
        Voluptas voluptatum quibusdam similique, class debitis alias maecenas eveniet ridiculus, facilis fusce! Ullam conubia? Sociis, minima malesuada habitasse distinctio sequi aliqua malesuada. Quisque deleniti proin expedita, aliquid litora. Iste recusandae? Commodo, quia ridiculus doloribus vero dictum? Penatibus donec placeat faucibus, dolorum do. Animi porta anim magnam
      </p>
    </div>
  </div>

  <h2 class="title-otherProducts">Produtos similares</h2>
  <div class="container-otherProducts">
    <div class="products">
      <a href="">
        <img src="../../../assets/img/Atari.png" alt="">
      </a>
      <h3>Produto XYZ</h3>
      <p class="products-price">R$ 40,00</p>
      <a class="view-product" href="">Ver produto</a>
    </div>

    <div class="products">
      <a href="">
        <img src="../../../assets/img/Atari.png" alt="">
      </a>
      <h3>Produto XYZ</h3>
      <p class="products-price">R$ 40,00</p>
      <a class="view-product" href="">Ver produto</a>
    </div>

    <div class="products">
      <a href="">
        <img src="../../../assets/img/Atari.png" alt="">
      </a>
      <h3>Produto XYZ</h3>
      <p class="products-price">R$ 40,00</p>
      <a class="view-product" href="">Ver produto</a>
    </div>

    <div class="products">
      <a href="">
        <img src="../../../assets/img/Atari.png" alt="">
      </a>
      <h3>Produto XYZ</h3>
      <p class="products-price">R$ 40,00</p>
      <a class="view-product" href="">Ver produto</a>
    </div>
    
  </div>
</section>

<app-contact></app-contact>