<app-navbar></app-navbar>
   
<div class="all-products">
  <div class="nav-product">
    <h2>Todos os produtos</h2>
    <a href="">
      <button class="add-product">Adicionar produto</button>
    </a>
  </div>

  <div class="content-products">
    <div *ngFor="let product of productAll" class="products">
      <a href="">
        <img src="{{ product.productPhoto }}" alt="">
      </a>
      <h3>{{ product.productTitle }}</h3>
      <p class="products-price">R$ {{ product.productPrice }}</p>
      <p class="products-id">#{{ product.id }}</p>
    </div>
  </div>
</div>

<app-contact></app-contact>