<main>

  <section class="container-products">
    <div class="title-products">
      <h2>{{ titleProductsOne }}</h2>
  
      <div class="other-products">
        <a href="#">
          Ver tudo 
          <img src="../../../assets/img/Vector (2).svg" alt="">
        </a>
      </div>
    </div>
  
    <div class="view-products">
  
      <div *ngFor="let product of productStarWars" class="products">
        <img src="{{ product.productPhoto }}" alt="">
        <h3>{{ product.productTitle }}</h3>
        <p>R$ {{ product.productPrice }}</p>
        <a href="#">Ver produto</a>
      </div>
    </div>
  </section>
  
  <section class="container-products">
    <div class="title-products">
      <h2>{{ titleProductsTwo }}</h2>
  
      <div class="other-products">
        <a href="#">
          Ver tudo 
          <img src="../../../assets/img/Vector (2).svg" alt="">
        </a>
      </div>
    </div>
  
    <div class="view-products">
  
      <div *ngFor="let product of productConsole" class="products">
        <img src="{{ product.productPhoto }}" alt="">
        <h3>{{ product.productTitle }}</h3>
        <p>R$ {{ product.productPrice }}</p>
        <a href="#">Ver produto</a>
      </div>
    </div>
  </section>
  
  <section class="container-products">
    <div class="title-products">
      <h2>{{ titleProductsTrhee }}</h2>
  
      <div class="other-products">
        <a href="#">
          Ver tudo 
          <img src="../../../assets/img/Vector (2).svg" alt="">
        </a>
      </div>
    </div>
  
    <div class="view-products">
  
      <div *ngFor="let product of productAll" class="products">
        <img src="{{ product.productPhoto }}" alt="">
        <h3>{{ product.productTitle }}</h3>
        <p>R$ {{ product.productPrice }}</p>
        <a href="#">Ver produto</a>
      </div>
    </div>
  </section>
  
</main>