.container-products {
  max-width: 360px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1rem;
}

.title-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem; 
}

.title-products h2 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.56rem;
  color: #464646;
}

.title-products a {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  color: #2A7AE4;
}

.other-products {
  display: flex;
  align-items: center;
}

.view-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products {
  margin-right: 1rem;
}

.products img {
  margin-top: 1rem;
}

.products h3 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  margin-top: .5rem;
  color: #464646;
}

.products p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125rem;
  margin-top: .5rem;
  color: #464646;
}

.products a {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  margin-top: .5rem;
  color: #2A7AE4;
}

@media screen and (min-width: 370px) and (max-width: 768px) {
  .container-products {
    max-width: 768px;
  }
  .view-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 1rem;
  }
  .title-products {
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
  .other-products a {
    font-size: 1rem;
    display: flex;
    gap: .5rem;
  }
  .other-products img {
    width: 1rem;
  }
}

@media (min-width: 770px) and (max-width: 1600px) {
  .container-products {
    max-width: 1440px;
    margin-left: 9rem;
    margin-right: 9rem;
    margin-top: 4rem;
  }
  .view-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
  .title-products h2 {
    font-size: 2rem;
  }
  .products img {
    width: 174px;
    height: 174px;
  }
  .other-products a {
    font-size: 1rem;
    display: flex;
    gap: .5rem;
    margin-right: 2.5rem;
  }
}

@media(min-width: 1600px) {
  .container-products {
    max-width: 1440px;
    margin-top: 4rem;
  }
  .view-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
  .title-products h2 {
    font-size: 2rem;
  }
  .products img {
    width: 174px;
    height: 174px;
  }
  .other-products a {
    font-size: 1rem;
    display: flex;
    gap: .5rem;
    margin-right: 2.5rem;
  }
}